<!DOCTYPE html>
<html>
<head>
    <title>editpage</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/editprofile.css" />
</head>
<body>

    {% if user.is_authenticated %}
    <div class="hello">HELLO,{{ user.get_username }}</div>
    {% endif %}

    <div >
        {% if form.picture.value %}
        {% for picture in pic %}
        <img class="profilepic" src="{{picture.picture}}" alt="ownprofile" style="width:200px" />
        {% endfor %}
        {%else%}
        <div class="profilepic"></div>
        {% endif %}
    </div>
    <div class="maincontainer">

        
        <div class="right">

            <form enctype="multipart/form-data" action="{% url 'edit_profile' %}" method="post">
                {% for field in form.visible_fields %}
                {{field.label_tag}}
                {{field}}
                {% for error in field.errors %}
                <span style="color:red"> {{ error }} </span>
                {% endfor %}
                <br>
                {% endfor %}
                <input type="submit" value="Save">
                {% for field in form.hidden_fields %}
                {{field}}
                {% endfor %}
                {% csrf_token %}
            </form>

        </div>
        </div>

</body>
</html>
