<!DOCTYPE html>
<html>
<head>
    <title>ownpage</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/public.css" />
    <link rel="stylesheet" href="/static/ownpage.css" />

</head>
<body>
    <div class="menubar">
        <div class="homeicon">
            <div>Home</div>
            <div class="homemenu"></div>
        </div>
        <a href="{% url 'showglobal' %}"> 
        <div class="globalicon">
            <div>Global</div>
            <div class="globalmenu"></div>
        </div>
        </a>
        <a href="{% url 'checkfollowing' %}">
            <div class="globalicon">
                <div>Follow</div>
                <div class="followmenu"></div>
            </div>
        </a>
</div>
    
    <div class="maincontainer">
        <div class="top">

            <div class="profilepic">
                {% if form.picture.value %}
                {% for picture in pic %}
                <img class="profilepic_pic" src="/static{{picture.picture.url}}" alt="ownprofile" style="width:200px" />
                {% endfor %}
                {% else %}
                {% endif %}
            </div>

                {% if user.is_authenticated %}
                <div class="name">{{ user.get_username }}</div>
                {% endif %}
                <a href="{% url 'logout' %}"> <div class="logout">logout</div></a>
                <a href="{% url 'edit_profile' %}"> <div class="edit">edit profile</div></a>
                {% for profile in pro %}
                <div class="informationbox">
                    <div class="firstname">{{profile.firstname}}</div>
                    <span class="lastname">{{profile.lastname}}</span>
                    <span class="age">{{profile.age}}</span>
                </div>
                {% endfor %}
            </div>

        <div class="content" id="letter">
            {% for profile in pro %}
            <div class="shortbio">
                <h1>short bio</h1>
                <p>{{profile.short_bio}}</p>
            </div>
            {% endfor %}
            {%for item in items%}
            <div class="message">
                {% if item.user.picture %}
                <div class="face_content">
                    <img class="face_picture" src="/static{{item.user.picture.url}}" />
                </div>
                {% else %}
                <div class="face_content">
                    <img class="face_picture" />
                </div>
                {% endif %}
                <div class="message_content">
                    <p class="username">{{item.username}} <span class="date">{{item.date}}</span></p>
                    <p class="record">{{item.message}}</p>
                </div>
            </div>

            {% for comment in item.views.all%}
                <div class="commentarea">
                    {% if comment.mypro.picture %}
                    <div class="mypro">
                        <img class="mypro_picture" src="/static{{comment.mypro.picture.url}}" />
                    </div>
                    {% else %}
                    <div class="mypro">
                        <div class="mypro_picture"></div>
                    </div>
                    {% endif %}
                    <div class="message_content">
                        <div class="commentusername">{{comment.username}}</div>
                        <span class="commentdate">{{comment.date}}</span>
                        <div class="record">{{comment.content}}</div>
                    </div>
                </div>
                    {% endfor %}
                
                

                <div class="commentarea">
                    {% if item.user.picture %}
                    <div class="mypro">
                        <img class="mypro_picture" src="/static{{item.user.picture.url}}" />
                    </div>
                    {% else %}
                    <div class="mypro">
                        <div class="mypro_picture"></div>
                    </div>
                    {% endif %}

                    <form action="{% url 'add-contents'%}" method="post" id="commentform">
                        <input type="button" class="button" name="submitButton" value="send" />
                        <input class="commentc_content" type="text" name="comment" />
                        <input type="hidden" name="userid" value="{{item.id}}" />
                        <input type="hidden" name="username" value="{{user.get_username}}" />
                        {% csrf_token %}
                    </form>

                </div>

            {% endfor %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js-cookie-master/js-cookie-master/src/js.cookie.js"></script>
    <script type="text/javascript" src="/static/public.js"></script>

</body>
</html>
