<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

    {% if form.picture.value %}
    <img src="/socialnetwork/picture" alt="ownprofile" style="width:200px" />
    {% endif %}
  
    <form enctype="multipart/form-data" action="{% url 'create_profile' %}" method="post">
        {% for field in form.visible_fields %}
        {{field.label_tag}}
        {{field}}
        {% for error in field.errors %}
        <span style="color:red"> {{ error }} </span>
        {% endfor %}
        <br>
        {% endfor %}
        <input type="submit" value="Submit">
        {% for field in form.hidden_fields %}
        {{field}}
        {% endfor %}
        {% csrf_token %}
    </form>
</body>
</html>
