<!DOCTYPE html>
<html>
<head>
    <title>register</title>
	<meta charset="utf-8" />
</head>
<body>
    <p>Register for the address book:</p>

    <!--<form method="post" action="{% url 'register' %}">
        <table>
            {form}
        </table>
        {% csrf_token %}
        <input type="submit" value="Register" />
    </form>-->

    <form action="{% url 'register' %}" method="post">
        {% for field in registerform.visible_fields %}
        {{field.label_tag}}
        {{field}}
        {% for error in field.errors %}
        <span style="color:red"> {{ error }} </span>
        {% endfor %}
        <br>
        {% endfor %}
        <input type="submit" value="Submit">
        {% for field in registerform.hidden_fields %}
        {{field}}
        {% endfor %}
        {% csrf_token %}
    </form>
</body>
</html>
